# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pkl
*.log
*.sqlite3

# Virtual environments
venv/
env/
.venv/
kg_env/

# Environment variables
.env

# Python build files
build/
dist/
*.egg-info/

# --------------------
# AI / Model Files
# --------------------
*.pt
*.pth
*.faiss

# --------------------
# Dataset (Large files)
# --------------------
data/
dataset/
*.csv
*.json

# --------------------
# Node (if frontend used)
# --------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --------------------
# OS Files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE Files
# --------------------
.vscode/
.idea/
.history/
